@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');
:root{
    --cor-de-fundo: #1e1e1e;
    --verde: #6fff57;
    --branco: #ffffff;
    --botao-ativo: #3a375e;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-de-fundo: rgba(58, 55, 94, 0.3);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}
.titulo-principal span{
    color: var(--verde);
    Material
    código inicial(atualizado) 19/03/24
    5
    5 comentários
    Última edição: 13:23
    
    cronometro.png
    Imagem
    
    index.html
    HTML
    
    main.js
    JavaScript
    
    style.css
    Folha de estilo
    Concluída Atividade
    -CRONOMETRO ALURA- LINK DE AVALIAÇÃO
    Sem data de entrega
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="./cronometro.png" type="image/png">
        <title>Meus objetivos do ano</title>
        <link rel="stylesheet" href="./style.css">
    </head>
    
    <body>
        <section class="conteudo-principal"></section>
        <h2 class="titulo-principal">Meus Objetivos do Ano<span>_</span></h2>
        <div class="conteudo">
        <div class="botoes">
            <button class="botao ativo">Cursos na Alura</button>
            <button class="botao">Criar Projetos em JavaScript</button>
            <button class="botao">Criar um Portifólio</button>
            <button class="botao">Atualizar meu Currículo</button>
        </div>
    
        <div class="abas-textos">
            <div class="aba-conteudo ativo">
                <h3 class="aba-conteudo-titulo-principal">Estudar 4 cursos na Alura</h3>
                <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
                <div class="contador"></div>
            </div>
            <div class="aba-conteudo">
                <h3 class="aba-conteudo-titulo-principal">Criar 5 projetos em JavaScript</h3>
                <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
                <div class="contador"></div>
            </div>
            <div class="aba-conteudo">
                <h3 class="aba-conteudo-titulo-principal">Criar um portifólio com meus 3 melhores Projetos</h3>
                <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
                <div class="contador"></div>
            </div>
            <div class="aba-conteudo">
                <h3 class="aba-conteudo-titulo-principal">Atualizar meu currículo com os certificados da Alura</h3>
                <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
                <div class="contador"></div>
            </div>
        </div>
    </div>
    
    
    
     <script src="main.js"></script>   
    </body>
    </html>
}

.botao{
    font-family: 'Chakra Petch', sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}

.botao:first-child{
    border-radius: 40px 40px 0 0;
}

.botoes{
    display: block;
}

@media screen and (min-width: 768px) {
    .botoes{
        display: flex;
    } 

    .botao:first-child{
        border-radius: 40px 0 0 0;
    }

    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
}

.botao.ativo{
    background-color: var(--botao-ativo);
    border-bottom:4px solid var(--verde);
}

.abas-textos{
  background-color: var(--cor-de-fundo);
  padding: 40px;
  border-radius: 0 0 40px 40px;
}

.aba-conteudo.ativo{
display: block;
}

.aba-conteudo{
 display: none;
}

.aba-conteudo-titulo-principal{
font-size: 28px;
text-align: center;
}

.aba-conteudo-titulo-secundario{
text-align: center;
color: var(--verde);
text-transform: uppercase;

}
















Material
código inicial(atualizado) 19/03/24
5
5 comentários
Última edição: 13:23

cronometro.png
Imagem

index.html
HTML

main.js
JavaScript

style.css
Folha de estilo
Concluída Atividade
-CRONOMETRO ALURA- LINK DE AVALIAÇÃO
Sem data de entrega
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./cronometro.png" type="image/png">
    <title>Meus objetivos do ano</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <section class="conteudo-principal"></section>
    <h2 class="titulo-principal">Meus Objetivos do Ano<span>_</span></h2>
    <div class="conteudo">
    <div class="botoes">
        <button class="botao ativo">Cursos na Alura</button>
        <button class="botao">Criar Projetos em JavaScript</button>
        <button class="botao">Criar um Portifólio</button>
        <button class="botao">Atualizar meu Currículo</button>
    </div>

    <div class="abas-textos">
        <div class="aba-conteudo ativo">
            <h3 class="aba-conteudo-titulo-principal">Estudar 4 cursos na Alura</h3>
            <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
            <div class="contador"></div>
        </div>
        <div class="aba-conteudo">
            <h3 class="aba-conteudo-titul
            Material
            código inicial(atualizado) 19/03/24
            5
            5 comentários
            Última edição: 13:23
            
            cronometro.png
            Imagem
            
            index.html
            HTML
            
            main.js
            JavaScript
            
            style.css
            Folha de estilo
            Concluída Atividade
            -CRONOMETRO ALURA- LINK DE AVALIAÇÃO
            Sem data de entrega
            <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="icon" href="./cronometro.png" type="image/png">
                <title>Meus objetivos do ano</title>
                <link rel="stylesheet" href="./style.css">
            </head>
            
            <body>
                <section class="conteudo-principal"></section>
                <h2 class="titulo-principal">Meus Objetivos do Ano<span>_</span></h2>
                <div class="conteudo">
                <div class="botoes">
                    <button class="botao ativo">Cursos na Alura</button>
                    <button class="botao">Criar Projetos em JavaScript</button>
                    <button class="botao">Criar um Portifólio</button>
                    <button class="botao">Atualizar meu Currículo</button>
                </div>
            
                <div class="abas-textos">
                    <div class="aba-conteudo ativo">
                        <h3 class="aba-conteudo-titulo-principal">Estudar 4 cursos na Alura</h3>
                        <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
                        <div class="contador"></div>
                    </div>
                    Material
                    código inicial(atualizado) 19/03/24
                    5
                    5 comentários
                    Última edição: 13:23
                    
                    cronometro.png
                    Imagem
                    
                    index.html
                    HTML
                    
                    main.js
                    JavaScript
                    
                    style.css
                    Folha de estilo
                    Concluída Atividade
                    -CRONOMETRO ALURA- LINK DE AVALIAÇÃO
                    Sem data de entrega
                    <!DOCTYPE html>
                    <html lang="en">
                    <head>
                        <meta charset="UTF-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                        <link rel="icon" href="./cronometro.png" type="image/png">

                        <title>Meus objetivos do ano</title>
                        <link rel="stylesheet" href="./style.css">
                    </head>
                    
                    <body>
                        <section class="conteudo-principal"></section>
                        <h2 class="titulo-principal">Meus Objetivos do Ano<span>_</span></h2>
                        <div class="conteudo">
                        <div class="botoes">
                            <button class="botao ativo">Cursos na Alura</button>
                            <button class="botao">Criar Projetos em JavaScript</button>
                            <button class="botao">Criar um Portifólio</button>
                            <button class="botao">Atualizar meu Currículo</button>
                        </div>
                    
                        <div class="abas-textos">
                            <div class="aba-conteudo ativo">
                                <h3 class="aba-conteudo-titulo-principal">Estudar 4 cursos na Alura</h3>
                                <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
                                <div class="contador"></div>
                            </div>
                            <div class="aba-conteudo">
                                <h3 class="aba-conteudo-titulo-principal">Criar 5 projetos em JavaScript</h3>
                                <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
                                <div class="contador"></div>
                            </div>
                            <div class="aba-conteudo">
                                <h3 class="aba-conteudo-titulo-principal">Criar um portifólio com meus 3 melhores Projetos</h3>
                                <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
                                <div class="contador"></div>
                            </div>
                            <div class="aba-conteudo">
                                <h3 class="aba-conteudo-titulo-principal">Atualizar meu currículo com os certificados da Alura</h3>
                                <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
                                <div class="contador"></div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                     <script src="main.js"></script>   
                    </body>
                    </html>
                    <div class="aba-conteudo">
                        <h3 class="aba-conteudo-titulo-principal">Criar 5 projetos em JavaScript</h3>
                        <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
                        <div class="contador"></div>
                    </div>
                    <div class="aba-conteudo">
                        <h3 class="aba-conteudo-titulo-principal">Criar um portifólio com meus 3 melhores Projetos</h3>
                        <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
                        <div class="contador"></div>
                    </div>
                    <div class="aba-conteudo">
                        <h3 class="aba-conteudo-titulo-principal">Atualizar meu currículo com os certificados da Alura</h3>
                        <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
                        <div class="contador"></div>
                    </div>
                </div>
            </div>
            
            
            
             <script src="main.js"></script>   
            </body>
            </html>o-principal">Criar 5 projetos em JavaScript</h3>
            <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
            <div class="contador"></div>
        </div>
        <div class="aba-conteudo">
            <h3 class="aba-conteudo-titulo-principal">Criar um portifólio com meus 3 melhores Projetos</h3>
            <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
            <div class="contador"></div>
        </div>
        <div class="aba-conteudo">
            <h3 class="aba-conteudo-titulo-principal">Atualizar meu currículo com os certificados da Alura</h3>
            <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
            <div class="contador"></div>
        </div>
    </div>
</div>



 <script src="main.js"></script>   
</body>
</html>